{{ define "filter-display" }}
<table id="filter-display">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {{ range $row := . }}
        <tr>
            <td>{{ $row.Name }}</td>
            <td>{{ $row.Type }}</td>
            <td>
                <a href="widget/edit/{{ $row.ID }}">Edit</a>
                <button hx-delete="/api/widget/{{ $row.ID }}">Delete</button>
            </td>
        </tr>
        {{ end }}

    </tbody>
</table>
{{ end }}
